.App {
  text-align: center;
}

.App main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App a:link,
.App a:active,
.App a:visited {
  color: #61dafb;
}

.App a:hover {
  color: #b2eafa;
}
